service vendor.fingerprint-oneplus /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.oneplus
    class late_start
    user system
    group system input uhid
    shutdown critical

on boot
    chown system system /sys/class/drm/card0-DSI-1/auth_status
    chmod 0666 /sys/class/drm/card0-DSI-1/auth_status
    chown system system /sys/class/drm/card0-DSI-1/power_status
    chmod 0666 /sys/class/drm/card0-DSI-1/power_status
